

.KlokBackGroundOuterOuter {
  background-color: #121C41;
  height: 159px;
  width: 159px;
  position: relative;


}
  
  .KlokBackGroundOuter{
    background-color: #212F63;
    height: 119px;
    width: 142px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  
  }

 

  .StopButton{
    background-color: #F4405F;
    color: white;
  border: none;
  text-align: center;
  height: 20px;
  width: 60px;
  font-size: 9px;
  border-radius: 4px;
  }

  .PauzeButton{
    background-color: #FFBE17;
    color: white;
    border: none;
    /* text-align: center; */
    height: 20px;
    width: 60px;
    margin-right: 5px;
    font-size: 9px;
    border-radius: 4px;
  }

  .HervattenButton{
    background-color: #39DFA4;
    color: white;
    border: none;
    /* text-align: center; */
    height: 20px;
    width: 60px;
    margin-right: 5px;
    font-size: 9px;
    border-radius: 4px;

  }

.StartButton{
  background-color: #39DFA4;
  color: white;
  border: none;
  text-align: center;
  height: 20px;
  width: 125px;
  margin-bottom: 5px;  
  font-size: 9px;
  border-radius: 4px;

  /* display: inline-block; */



}

.ButtonDiv{
  /* margin-bottom: 5px;   */
  padding-top: 18px;

}

  